{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}}

    <main class="content col-md-12" role="main" style="
        background-image: url('{{author.cover}}');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-left: 50px;
        padding-right: 50px;
        ">

        <div style="height:100px; text-align: center">
            <h1>{{{title}}}</h1>
            <small><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></small>
        </div>
        <article class="{{post_class}}" style="
            background-color: #FFFFFF;
            padding: 50px;
            ">

            {{! Each post has the blog logo at the top, with a link back to the home page }}
            <header class="post-header">
            </header>

            {{! Everything inside the #post tags pulls data from the post }}


            <section class="post-content">
                {{content}}
            </section>

            <section>
            </section>

            <footer class="post-footer">

                <section class="share text-right">
                    <h5>Share This Post: </h5>
                    <a class="icon-twitter"
                       href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="icon-facebook"
                       href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </section>

                {{#foreach tags}}
                    <span class="tag btn btn-default glyphicon glyphicon-tag">
                        {{name}}
                    </span>
                {{/foreach}}
            </footer>
        </article>

        <div class="col-md-12" style="height:50px">
            {{! SPACER}}
        </div>
    </main>

{{/post}}
